<div class="chat-header">
  <div class="left-heder">
    <div class = "group-name">
     hogefuga
   </div>
  </div>
  <div class = "right-header">
    <div class="end-btn">
     <a href="#">チャットを終了する</a>
   </div>
  </div>
</div>

<div class="messages">
  <div class = "message">
    <div class = "upper-message">
      <div class = "message-user">
        Tom
      </div>
      <div class = "message-time">
        2020/08/29(Sat) 12:00:00
      </div>
    </div>
    <div class = "lower-message">
      <div class = "message-content">
        おはよう
      </div>
    </div>
  </div>
  <div class = "message">
    <div class = "upper-message">
      <div class = "message-user">
        Taro
      </div>
      <div class = "message-time">
        2020/08/29(Sat) 15:00:00
      </div>
    </div>
    <div class = "lower-message">
      <div class = "message-content">
        こんにちは
      </div>
    </div>
  </div>
</div>

<div class="form">
  <div class="form-input">
    <input class="form-message" playceholder="type a message">
      <%# <% form_with url="#/#_path", method::post,local:true do |form| %>
      <%# <%= form = text_field.:louten,"type a message" %>
      <%# <div class = "picture"> %>
      <%# <%= form = %>
  </div>
  <input class = "send-btn" type="submit" value="送信">
      <%# <%= inputtype:submit,> %>
      <%# <%= submit '送信' %>
  </div>
</div>